name: Build and Test
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11', '3.12']
        poetry-version: ['1.8.2']
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
    - name: Install Poetry ${{ matrix.poetry-version }}
      uses: abatilo/actions-poetry@v3.0.0
      with:
        poetry-version: ${{ matrix.poetry-version }}
    - name: Lint
      run: poetry run poe lint
    - name: Test
      run: poetry run poe test --junitxml=junit/test-results-${{ matrix.python-version }}.xml
    - name: Build
      run: poetry build
    - name: Upload pytest test results
      uses: actions/upload-artifact@v3
      with:
        name: pytest-results-${{ matrix.python-version }}
        path: junit/test-results-${{ matrix.python-version }}.xml
      # Use always() to always run this step to publish test results when there are test failures
      if: ${{ always() }}
